= semantic_form_for :books_upload, url: upload_admin_books_path do |f|
  = f.input :category_id, as: :select, collection: options_for_categories_dropdown
  = f.input :files, as: :file, input_html: {multiple: "multiple"}, label: 'Files (can be multiple)', required: false
  = f.action :submit, label: 'Upload'